@{customElementNamespace}tabs {
  @tabHeight: 44px;
  @tabBackground: rgba(255,255,255,.9);
  @tabColor: contrast(@tabBackground);

  .customElement;

  .tabs-list {
    height: @tabHeight;
    margin: 0px 50px;
    white-space: nowrap;
    overflow: auto;

    .tabs-expanded {
      display: block;
    }
    .tabs-collapsed {
      display: none;
    }

    &.is-collapsed {
      .tabs-expanded {
        display: none;
      }
      .tabs-collapsed {
        display: block;
      }
    }
  }

  .tabs-collapsed {
    .tabs-title {
      display: none;
      &.is-active{
        display: inline-block;
      }
    }
  }

  .tabs-tab {
    padding: 10px 10px;
    display: inline-block;
    height: 100%;
    border: 1px solid @border-color;
    transition: padding @transitionTime linear;

    &.is-active {
      padding: 10px 20px;
      background: @tabBackground;
      color: @tabColor;
    }
  }

  .tabs-content {
    height: ~"calc(100% - @{tabHeight})";
    border: 1px solid @border-color;
  }

}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}tabs {

  }

}
