@{customElementNamespace}workspaces {

  .customElement;

  > div {
    width: 50%;
    height: 100%;
  }

  > div + div {
    border-left: 1px solid @border-color;
  }

  .workspaces-selector {
    float: left;
    padding: 3px 10px;
  }

  .workspaces-details {
    float: right;
  }
}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}workspaces {

  }
}
