{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="selector-type" data-type="cesium">
    <div class="type-image">
        <span class="fa fa-globe">
        </span>
    </div>
    <div class="type-text">
        3D Map
    </div>
</div>
<div class="selector-type" data-type="openlayers">
    <div class="type-image">
        <span class="fa fa-map">
        </span>
    </div>
    <div class="type-text">
        2D Map
    </div>
</div>
<div class="selector-type" data-type="histogram">
    <div class="type-image">
        <span class="fa fa-bar-chart">
        </span>
    </div>
    <div class="type-text">
        Histogram
    </div>
</div>
<div class="selector-type" data-type="table">
   <div class="type-image">
        <span class="fa fa-table">
        </span>
    </div>
    <div class="type-text">
        Table
    </div>
</div>
<div class="selector-type" data-type="inspector">
    <div class="type-image">
        <span class="fa fa-book">
        </span>
    </div>
    <div class="type-text">
        Inspector
    </div>
</div>