<h6>Queries</h6>

{{#if showHelp}}

<div id="help">
<p>You don't have any queries. Click 'Add Query' to get started.</p>
<button class="btn btn-primary pull-right" id="add-query">
  <span>Add Query <i class="fa fa-plus"></i></span>
</button>
  
</div>

{{else}}
<div id="queries"></div>

<h6>Results</h6>
<div id="results"></div>
{{/if}}
