@{customElementNamespace}workspace-history {

  @valueWidth: 60%;

  .customElement;

  overflow: hidden;
  padding: 10px 10px;

  .workspaceHistory-row + .workspaceHistory-row {
    border-top: 1px solid @border-color;
  }

  .workspaceHistory-row {
    transition: padding @transitionTime linear;

    &.is-selected {
      padding-left: 10px;
      background: @select-background-color;
      color: contrast(@select-background-color);
    }
  }

  .workspaceHistory-header {
    height: 50px;
  }
  .workspaceHistory-body {
    max-height: ~"calc(100% - @{minimumButtonSize}*2 - 20px)";
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    border: 1px solid @border-color;
  }

  .workspaceHistory-cell {
    float: left;
    padding: 10px;
    text-align: center;
  }

  .workspaceHistory-version {
    width: 20%;
  }

  .workspaceHistory-date {
    width: 50%;
  }

  .workspaceHistory-user {
    width: 30%;
  }

  button {
    padding: 10px;
    width: 100%;
    text-align: center;
    height: @minimumButtonSize;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.has-selection {
    button {
      display: block;
    }
  }

}

@media (max-width: @smallScreenSize) {
  @{customElementNamespace}workspace-history {
    .workspaceHistory-body {
      max-height: ~"calc(100% - @{minimumButtonSize}*4 - 19px)";
      overflow: auto;
    }

    .workspaceHistory-cell {
      display: block;
      width: 100%;
    }
  }
}
